.container {
  margin: 1rem auto;
  min-width: 400px;
  width: 75vw;
  height: 400px;
  //border: 1px solid green;
  padding: 2rem;
  position: relative;
  background: rgba(0,0,0,.1) url("https://www.dropbox.com/s/da52pxzoxnpa0hl/stroller_2.png?raw=1") no-repeat 115% top;
}
h1 {
  position: relative;
  //border: 1px solid white;
  width: 70%;
}
h1 span {
  display: block;
}
.big {
  color: #ffffff;
  font-size: 96px;
  text-transform: uppercase;
  position: relative;
  top: 0;
  left: 10%;
}
.thin {
  color: red;
  font-weight: 300;
  font-size: 46px;
  position: relative;
  top: -2.25rem;
}
.promo {
  width: 50%;
  line-height: 1.5;
}
.cta--transparent {
  padding: 1rem;
  background: rgba(255,255,255,.75);
  text-transform: uppercase;
  border: 1px solid red;
  border-radius: 3px;
  position: absolute;
  right: 4rem;
  bottom: 6rem;
}